# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{{ env "DWEB_DOMAIN" }} {
  reverse_proxy /_matrix/* http://synapse:8008
  reverse_proxy /_synapse/client/* http://synapse:8008
  reverse_proxy /new_email* http://mailadm:3691
}

{{ env "DWEB_DOMAIN" }}:8448 {
  reverse_proxy http://synapse:8008
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
