# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{{ env "DWEB_DOMAIN" }}, http://{{ env "DWEB_ONION" }} {
  handle_path /new_email* {
    rewrite * /{path}
    reverse_proxy http://localhost:3691
  }
  root * /www
  file_server browse
  header Onion-Location http://{{ env "DWEB_ONION" }}
}

chat.{{ env "DWEB_DOMAIN" }}, http://chat.{{ env "DWEB_ONION" }} {
  reverse_proxy http://localhost:8001
  header Onion-Location http://chat.{{ env "DWEB_ONION" }}
}

matrix.{{ env "DWEB_DOMAIN" }}, http://matrix.{{ env "DWEB_ONION" }} {
  reverse_proxy /_matrix/* http://localhost:8008
  reverse_proxy /_synapse/client/* http://localhost:8008
  header Onion-Location http://matrix.{{ env "DWEB_ONION" }}
}

matrix.{{ env "DWEB_DOMAIN" }}:8448, http://matrix.{{ env "DWEB_ONION" }}:8448 {
  reverse_proxy http://localhost:8008
}

social.{{ env "DWEB_DOMAIN" }}, http://social.{{ env "DWEB_ONION" }}  {

        root * /srv/mastodon/public
        encode gzip
        @static file
        handle @static {
                file_server
        }

        handle /api/v1/streaming* {
                reverse_proxy localhost:4000
        }

        handle {
                reverse_proxy localhost:3000
        }

        header {
                Strict-Transport-Security "max-age=31536000;"
        }

        header Onion-Location http://mastodon.{{ env "DWEB_ONION" }}

        header /sw.js  Cache-Control "public, max-age=0";
        header /emoji* Cache-Control "public, max-age=31536000, immutable"
        header /packs* Cache-Control "public, max-age=31536000, immutable"
        header /system/accounts/avatars* Cache-Control "public, max-age=31536000, immutable"
        header /system/media_attachments/files* Cache-Control "public, max-age=31536000, immutable"

        handle_errors {
                @5xx expression `{http.error.status_code} >= 500 && {http.error.status_code} < 600`
                rewrite @5xx /500.html
                file_server
        }
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
