@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

html {
  font-family: Roboto;
  background-color: #f4f4f3;
}

html a {
  color: #e53323;
  line-height: 1.5;
}


@media screen and (min-width: 568px) {
  .container {
    max-width: 568px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: auto;
  }
}

.table {

  max-width: 900px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.table .row {
  display: grid;
  grid-template-columns: 3fr;
  gap: 10px;
  padding-bottom: 25px;
  padding-top: 20px;
}

@media screen and (min-width: 568px) {
  .table .row {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 3fr 1fr;
    gap: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
  }


}

.table .row {
  border-bottom: 1px solid #dfdfdf;
}

.table .row:last-child {
  border-bottom: none;
}





@media screen and (min-width: 568px) {
  .table-title {
    text-align: left;
  }
}

.header {
  margin-bottom: 50px;
}

.header .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang {
  text-align: center;
  color: #e53323;
}

.lang a {
  color: #e53323;
}

.header .logo {
  margin-right: 20px;
}

.title {
  text-align: center;
  padding-bottom: 40px;
  font-size: 20px;
  max-width: 500px;
  line-height: 1.5;
  margin: auto;
}

.footer {
  margin-top: 50px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-top: 2px solid black;
  text-align: center;
}

@media screen and (min-width: 568px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}

.footer .logo {
  margin-right: 20px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 568px) {
  .footer .logo {
    display: inline;
    margin: 0 20px;
  }
}

.table-head {
  display: none !important;
}

@media screen and (min-width: 568px) {
  .table-head {
    display: grid !important;
  }
}

.rubric-title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}

@media screen and (min-width: 568px) {
  .rubric-title {
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 0;
  }
}


.mobile-rubric {
  color: gray;
  margin-right: 5px;
}

@media screen and (min-width: 568px) {
  .mobile-rubric {
    display: none;
  }
}
